{% extends "skeleton.html" %}
{% block title %} Item Catalog {% endblock %}
{% block body %}
{% if ok %}
<div class="log"><a href={{url_for("logout")}}>Logout</a></div>
{% else %}
<div class="log"><a href={{url_for("google.login")}}>Login</a></div>
{% endif %}
        <div class="clearfix"></div>
<div class="row">
    <div class="col-6">
        <ul class="list-group">
            {% for k in cats %}
            <li class="list-group-item">
                <a href={{ url_for( "category", category_id=k.id) }} >{{ k.name }}</a>
                <span class="badge badge-primary">{{k.items|length}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-group">
            <h5>Last Items</h5>
            {% for i in last_items %}
            <li class="list-group-item">{{i[1].name}} ({{ i[0] }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
