{% extends "skeleton.html" %}
{% block title %} Catalog: {{ cat.name}} {% endblock %}
{% block body %}
{% if ok %}
<div class="log"><a href={{url_for("logout")}}>Logout</a></div>
{% else %}
<div class="log"><a href={{url_for("google.login")}}>Login</a></div>
{% endif %}
        <div class="clearfix"></div>
<a href={{url_for("catalog")}}>Catalog</a>
<h2 class="page-header text-center">{{ cat.name }}</h2>
{% if ok %}
<h5 class="text-center"><a href={{ url_for("new_item", category_id=cat.id) }}>Add an Item</a></h5>
{% endif %}
<ul class="list-group">
    {% for k in cat.items %}
    <li class="list-group-item"><a href={{ url_for("item", category_id=cat.id,
            item_id=k.id) }}>{{ k.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
