{% extends "skeleton.html" %}
{% block title %} Delete: {{item.name}} {% endblock %}
{% block body %}
<a href={{url_for("catalog")}}>Catalog</a>
<span>>></span>
<a href={{ url_for("category", category_id=cat.id) }}>{{ cat.name }}</a>
<span>>></span>
<a href={{ url_for("item", category_id=cat.id,
            item_id=item.id) }}>{{ item.name }}</a>
            <div class="item_info">
<h3>Item: {{item.name}}</h3>
<br/>
<p><strong>Description:</strong> {{item.description}}</p>
<br>
<h4>Are you sure that you want to delete this item?</h4>
<form action={{ url_for("delete_item", category_id=cat.id,
    item_id=item.id) }} method="post">
    <button class="submit">Delete</button>
</form>
</div>
{% endblock %}
