{% extends "skeleton.html" %}
{% block title %} Edit item: {{ item.name }} {% endblock %}
{% block body %}
<a href={{url_for("catalog")}}>Catalog</a>
<span>>></span>
<a href={{ url_for("category", category_id=cat.id) }}>{{ cat.name }}</a>
<span>>></span>
<a href={{ url_for("item", category_id=cat.id,
            item_id=item.id) }}>{{ item.name }}</a>
            <div class="item_info">
<form action="" method="post">
    <div><label><strong>Name:</strong></label></div>
    <input type="input" value={{ item.name }} name="name"/>
    <br/><br/>
    <div><label><strong>Description:</strong></label></div>
    <textarea name="description"
        rows="4" cols="30" wrap="hard">{{ item.description }}</textarea>
    <br/><br/>
    <select name="category">
        {% for i in categories %}
        {%if cat.name != i.name %}
        <option value="{{ i.name }}">{{ i.name }}</option>
        {% else %}
        <option value="{{ i.name }}" selected>{{ i.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br/>
    <br/>
    <button class="submit">Save</button>
</form></div>
{% endblock %}
