{% extends "skeleton.html" %}
{% block title %} {{ "Add Item" }} {% endblock %}
{% block body %}
{% if ok %}
<div class="log"><a href={{url_for("logout")}}>Logout</a></div>
{% else %}
<div class="log"><a href={{url_for("google.login")}}>Login</a></div>
{% endif %}
        <div class="clearfix"></div>
<a href={{url_for("catalog")}}>Catalog</a>
<span>>></span>
<a href={{ url_for("category", category_id=cat.id) }}>{{ cat.name }}</a>
<h3 class="text-center">Add a new item</h3>
<div class="item_info">
<form action="" method="post">
        <div><label><strong>Name:</strong></label></div>
    <input type="input" placeholder="Name?" name="name"/>
    <br/><br/>
    <div><label><strong>Description:</strong></label></div>
    <textarea placeholder="Description?" name="description"
        rows="4" cols="30" wrap="hard"></textarea>
    <br/>
    <br/>
    <button class="submit">Create</button>
</form>
</div>

{% endblock %}
